@model IEnumerable<Jonia0._3.Models.Reserva>

    @{
    var estadoReserva = ViewBag.Estado as int?;
}
@section Scripts {
    <script src="~/js/estadoReserva.js"></script>
    <script src="~/js/buscadores.js"></script>
}

<h1>Reservas</h1>


<p>
    <a class="btn btn-dark" asp-action="Create">Crear</a>
</p>
<div class="input-group mb-3">
    <input type="text" class="form-control" onkeyup="cambio()" id="searchInput" placeholder="Buscar...">
</div>
<table id="reservasTable" class="table">
    <thead>
        <tr>
            <th>
                Cliente
            </th>
            <th>
                Encargado
            </th>
            <th>
                Fecha de Registro
            </th>
            <th>
                Fecha de Entrada
            </th>
            <th>
                Fecha de Salida
            </th>
            <th>
                Nro Personas
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                Método de pago
            </th>
            <th>
                Estado
            </th>

            <th></th>
        </tr>

    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NroDocumentoCliente)
                </td>
                <td>
                    @Html.DisplayFor(modeItem => item.NroDocumentoTrabajador)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaRegistro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaEntrada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaSalida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroPersonas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MetodoPagoNavigation.Nombre)
                </td>
                <td>
                    <select id="estadoSelect_@item.IdReserva" asp-for="@item.Estado" class="form-control-sm" data-reservaid="@item.IdReserva">
                        @foreach (var estado in ViewBag.Estado)
                        {
                            <option class="estadoOption" data-nuevoestado="@estado.IdEstado" value="@estado.IdEstado">@estado.Nombre</option>
                        }
                    </select>
                </td>
                <td>
                    @if (item.Estado == 5 || item.Estado == 6 || item.Estado == 7)
                    {
                        <span class="btn btn-dark btn-sm disabled">Editar</span>
                        
                    }
                    else
                    {
                        <a class="btn btn-dark btn-sm editar-btn"  asp-action="Edit" asp-route-id="@item.IdReserva">Editar</a>
                    }
                    |

                    <a class="btn btn-dark btn-sm abonos-btn" asp-action="Details" asp-route-id="@item.IdReserva">Detalles</a> |

                    @if (item.Estado == 5 || item.Estado == 6){
                        <span class="btn btn-dark btn-sm disabled">Abonos</span>
                        
                    }
                    else
                    {
                        <a class="btn btn-dark btn-sm abonos-btn" href="@Url.Action("IndividualIndex", "Abonos", new { idReserva = item.IdReserva })">Abonos</a>
                    }
                </td
            </tr>
        }
    </tbody>
</table>

