@model IEnumerable<Jonia0._3.Models.Habitacione>

@section Scripts {
    <script src="~/js/CambioEstado.js"></script>
}

<h1>Habitaciones</h1>

<p>
    <a class="btn btn-dark" asp-action="Create">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                Tipo de Habitación
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                    <div class="form-check form-switch fs-4" data-url="@Url.Action("ActualizarEstado", "Paquetes")" data-idhabitacion="@item.IdHabitacion">
                        <input @(item.Estado == true ? "checked" : "") type="checkbox" class="form-check-input" id="estado" data-idhabitacion="@item.IdHabitacion" />
                    </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoNavigation.Nombre)
            </td>
            <td>
                    <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.IdHabitacion">Editar</a> |
                    <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.IdHabitacion">Detalles</a> |
            </td>
        </tr>
}
    </tbody>
</table>
