@model IEnumerable<Jonia0._3.Models.Rol>

@section Scripts {
    <script src="~/js/CambioEstado.js"></script>
}

<h1>Roles</h1>

<p>
    <a asp-action="Create">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                    <div class="form-check form-switch fs-4" data-url="@Url.Action("ActualizarEstado", "Rol")" data-rolid="@item.IdRol">
                        <input @(item.Estado == true ? "checked" : "") type="checkbox" class="form-check-input" id="estado" data-rolid="@item.IdRol" />
                    </div>
            </td>
            <td>
                    @if (item.IdRol != 1)
                    {
                        <a asp-action="Edit" asp-route-id="@item.IdRol">Editar</a>
                    }
                    |
                   
                <a asp-action="Details" asp-route-id="@item.IdRol">Detalles</a> |
                @if (item.IdRol != 1){
                <a asp-action="Delete" asp-route-id="@item.IdRol">Eliminar</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
