@model IEnumerable<Jonia0._3.Models.TipoHabitacion>

@section Scripts {
    <script src="~/js/CambioEstado.js"></script>
    <script>
        $('#searchInput').on('keyup', function () {
            var searchValue = $(this).val();
            $.ajax({
                url: '/TipoHabitacion/Index',
                type: 'GET',
                data: { search: searchValue },
                success: function (data) {
                    // Busca la tabla por su ID y actualiza solo el cuerpo (tbody)
                    $('#tipoTable tbody').html($(data).find('#tipoTable tbody').html());

                },
                error: function (xhr, status, error) {
                    console.error('Error al realizar la búsqueda: ' + error);
                }
            });
        });
    </script>
}

<h1>Tipo de habitación</h1>

<p>
    <a class="btn btn-dark" asp-action="Create">Crear</a>
</p>
<div class="input-group mb-3">
    <input type="text" class="form-control" onkeyup="cambio()" id="searchInput" placeholder="Buscar...">
</div>
<table id="tipoTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NroPersonas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NroPersonas)
            </td>
            <td>
                    <div class="form-check form-switch fs-4" data-url="@Url.Action("ActualizarEstado", "TipoHabitacion")" data-idtipo="@item.IdTipo">
                        <input @(item.Estado == true ? "checked" : "") type="checkbox" class="form-check-input" id="estado" data-idtipo="@item.IdTipo" />
                    </div>
            </td>
            <td>
                <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.IdTipo">Editar</a>
            </td>
        </tr>
}
    </tbody>
</table>
