@model IEnumerable<Jonia0._3.Models.Servicio>


@section Scripts {
    <script src="~/js/CambioEstado.js"></script>
    <script src="~/js/buscadores.js"></script>
}

<h1>Servicios</h1>

<p>
    <a class="btn btn-dark" asp-action="Create">Crear</a>
</p>
<div class="input-group mb-3">
    <input type="text" class="form-control" onkeyup="cambio()" id="searchInput" placeholder="Buscar...">
</div>
<table id="servicioTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                Tipo de Servicio
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                <div class="form-check form-switch fs-4" data-url="@Url.Action("ActualizarEstado", "Servicios")" data-idservicio="@item.IdServicio">
                    <input @(item.Estado == true ? "checked" : "") type="checkbox" class="form-check-input" id="estado" data-idservicio="@item.IdServicio" />
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoServicioNavigation.Nombre)
            </td>
            <td>
                <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.IdServicio">Editar</a> |
                <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.IdServicio">Detalles</a> |
            </td>
        </tr>
}
    </tbody>
</table>
