@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="icon" href="/img/Green_Leaf_Nature_Logo_Design-removebg-preview.ico" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5 p-2" style="background-color:#13142a; border-radius: 8px;">
        <h1 class="text-center mt-4 mb-4" style="color:white;">Registro</h1>
        <hr / style="background-color:white; width:37rem;">
        @if (ViewBag.Creado == null)
        {
            <form action="@Url.Action("Registrar","Inicio")" method="post" style="color:white;">
                <div class="row justify-content-center">
                    <div class="col-md-3 form-group m-2">
                        <label>Documento</label><br />
                        <input type="number" placeholder="Nro de documento" name="NroDocumento" value="@(ViewBag.NroDocumento != null ? ViewBag.NroDocumento: "")" required>
                    </div>
                    <div class="col-md-3 form-group m-2">
                        <label>Tipo de documento</label><br />
                        <select name="TipoDocumento" required>
                            <option disabled selected>Tipo de documento</option>
                            <option value="1">Tarjeta de identidad</option>
                            <option value="2">Cédula de ciudadanía</option>
                            <option value="3">Tarjeta de extranjería</option>
                            <option value="4">Cédula de extranjería</option>
                            <option value="5">Pasaporte</option>
                            <option value="6">Tipo de documento extranjero</option>
                        </select>

                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-3 form-group m-2">
                        <label>Nombre</label><br />
                        <input type="text" placeholder="Nombres" name="Nombre" value="@(ViewBag.Nombre != null ? ViewBag.Nombre: "")" required>
                    </div>
                    <div class="col-md-3 form-group m-2">
                        <label>Apellido</label><br />
                        <input type="text" placeholder="Apellidos" name="Apellido" value="@(ViewBag.Apellido != null ? ViewBag.Apellido: "")" required>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-3 form-group m-2">
                        <label>Correo</label><br />
                        <input type="email" placeholder="Correo" name="Correo" value="@(ViewBag.Correo != null ? ViewBag.Correo: "")" required>
                    </div>
                    <div class="col-md-3 form-group m-2">
                        <label>Contraseña</label><br />
                        <input type="password" placeholder="Contraseña" name="Contrasena" value="@(ViewBag.Contrasena != null ? ViewBag.Contrasena: "")" required>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-3 form-group m-2">
                        <label>Confirme su contraseña</label><br />
                        <input type="password" placeholder="Confirme contraseña" name="ConfirmarClave" required>
                    </div>
                    <div class="col-md-3 form-group m-2">
                        <label>Celular</label><br />
                        <input type="number" placeholder="Numero de telefono" name="Celular" value="@(ViewBag.Celular != null ? ViewBag.Celular: "")" required>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-3 form-group m-2">
                        <label>Direccion</label><br />
                        <input type="text" placeholder="Direccion" name="Direccion" value="@(ViewBag.Direccion != null ? ViewBag.Direccion: "")" required>
                    </div>
                    <div class="col-md-3 form-group m-2">
                        <label>Fecha de nacimiento</label><br />
                        <input type="date" placeholder="Fehca de nacimiento" name="FechaNacimiento" value="@(ViewBag.FechaNacimiento != null ? ViewBag.FechaNacimiento: "")" required>
                    </div>
                </div>

                @if (ViewBag.Mensaje != null)
                {
                    <div class="alert alert-danger">
                        @ViewBag.Mensaje
                    </div>
                }

                <div class="row justify-content-center mt-3 mb-3">
                    <div class="col-md-3">
                        <button class="btn" style="background-color:#666666; color:white;">
                            <span>Registrarse</span>
                        </button>
                    </div>
                    <div class="col-md-3">
                        <a class="" style="color:white;" href="@Url.Action("Login","Inicio")">¿Ya tienes cuenta? Inicia sesion</a>
                    </div>
                </div>

            </form>

        }

        else
        {
            <div class="alert alert-success">
                <p>@ViewBag.Mensaje</p>
                <a class="btn btn-link" href="@Url.Action("Login","Inicio")">Ingresar</a>
            </div>

        }

    </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
