@model IEnumerable<Jonia0._3.Models.Abono>


@section Scripts {
    <script src="~/js/CambioEstado.js"></script>
}
<h1>Abonos</h1>

@{
    var totalPendiente = ViewBag.TotalPendiente as decimal?;
}


<p>
    @if (totalPendiente != null && totalPendiente == 0)
    {
        <span class="btn btn-dark btn-sm disabled">Crear Abono</span>
    }
    else
    {
        <a class="btn btn-dark btn-sm" href="@Url.Action("Create", "Abonos", new { idReserva = ViewBag.IdReserva })">Crear Abono</a>
    }
<table class="table">
    <thead>
        <tr>
            <th>
                Cliente
            </th>
            <th>
                Fecha de Registro
            </th>
            <th>
                Deuda
            </th>
            <th>
                Total Abonado
            </th>
            <th>
                Total Pendiente
            </th>
            <th>
                Porcentaje
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdReservaNavigation.NroDocumentoCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaRegistro)
                </td>
                <td>
                   $ @Html.DisplayFor(modelItem => item.ValorDeuda)
                </td>
                <td>
                   $ @Html.DisplayFor(modelItem => item.TotalAbonado)
                </td>
                <td>
                   $ @Html.DisplayFor(modelItem => item.TotalPendiente)
                </td>

                <td>
                    @(item.Porcentaje) %
                </td>
                <td>

                    <div class="form-check form-switch fs-4" data-url="@Url.Action("ActualizarEstado", "Abonos")" data-abonoid="@item.IdAbono">
                        <input @(item.Estado == true ? "checked" : "") type="checkbox" class="form-check-input" id="estado" data-abonoid="@item.IdAbono" />
                    </div>

                <td>
                    <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.IdAbono">Detalles</a>
                </td>
                
                    
                
            </tr>
        }
    </tbody>
    
</table>
<p >
    <a class="btn btn-dark btn-sm" asp-controller="Reservas" asp-action="Index">Regresar</a>
</p>

